# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables (MAI caricare su GitHub!)
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.pem
npm-debug.log*

.vercel
Chiave Api ANthropic.txt
Chiave Api key su Resend.com.txt
Chiave Api Fammi capire.txt
backup-foto-originali/
